@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    display: inline-flex;
}

/*Navbar*/
.navbar {
    position: sticky !important;
    z-index: 9999;
    top: 0px;
}

.navbar-brand {
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    align-self: flex-start;
}

/*Titulo*/
.contenedor1 {
    background-color: #657275;
    padding: 40px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    flex-grow: 1;
}

.titulo {
    padding: 0px;
}

.index {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: white;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

li {
    list-style: none;
    padding: 15px;
    border-bottom: rgb(175, 145, 181) solid 1px;
}

.primerli {
    border-top: rgb(175, 145, 181) solid 1px;
}

.mare {
    border-radius: 100%;
    width: 200px;
}


/*sobre mi*/
.contenedor2 {
    display: flex;
    flex-direction: column-reverse;
    background-color: #ead1cb;
}

#carouselExample {
    padding: 10px;
    /*background-color: #af9c98;*/
}

.about_me {
    padding: 10px;
    text-align: justify;
    font-size: x-large;
}

h2 {
    padding: 10px 0px 10px 0px;
}

/*Tecnologias*/

.contenedor3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}

.tecnologo {
    width: 80px;
    padding: 0;
}

.tecnologias li {
    border-bottom: none;
}

/*contenedor4*/
.contenedor4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ask{
    font-size: 15px;
}

.ans{
    font-size: 15px;
}

.edad{
    font-size: 15px;
}

.rrss{
    padding: 50px 30px;
}

/*Datos*/
.datos {
    justify-content: center;
    padding: 50px 10px 50px 10px;
    background-color: #ead1cb;
}

td {
    padding: 5px;
    overflow: hidden;
}
